body p{ 
color: green; 
} 
body
{
	background: black;
	color: white!important;
	font-family: verdana;
}
p
{
	color:blue;
}
h1
{
	font-family: arial;
}
div 
{
	margin-top: 10px;
	margin-left: 20px;
}
body{ 
color: red; 
}