body{
	margin: 20px;
	font-family: Lora;
}
@font-face{
	font-family: FuenteLato;
    src: url(../fuentes/Lato-Regular.ttf);
}
.resaltado{
	background-color: yellow;
	color: black;
}
div#menu-principal, h1.titulo
{
	font-family: FuenteLato;
}
#menu-principal{
	font-style: italic;
	padding: 10px 0px;
}

footer{
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}

h1.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
	font-variant: small-caps;
}